#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(45deg, #222, #111);
  height: 60px;
  border-bottom: 1px double lightseagreen;
}

#navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title {
  margin-left: 10px;
  margin-right: auto;
  text-decoration: none;
}

.signout {
  margin-left: auto;
  color: #fff;
}

.signout:hover {
  color: lightseagreen;
  transform: scale(0.99);
  cursor: pointer;
}

#logo {
  height: 30px;
  cursor: pointer;
}

li {
  list-style: none;
}

.active {
  margin-right: 2em;
  color: ivory;
  opacity: 0.5;
}

@media (max-width: 700px) {
  .active {
    display: none;
  }
}
