.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-size: cover;
  background-color: #222;
  width: 100vw;
  height: 100vh;
}

.loading {
  height: 115px;
  background-color: #222;
}
